*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary: rgb(12, 151, 70);
--dark: #ECF0F1;
--light: white;
}
html {

 box-sizing: border-box;
 font-family:  Calibri; 

}

body {
  background: var(--dark);
  line-height: 1.4;
}

	a{
		color: white;
		text-decoration: none;
	}
	
  img {
	max-width: 100%;
  }

  h4{
	color: black;
	border-bottom: 2px solid var(--dark);
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}


footer{
  display: block;
  text-align: center;
  line-height: 1.6;
  background-color: var(--primary);
  bottom: 0;
}



  .admin_container{
	display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  nav {
    min-height: 70px;
  	display: grid;
	  grid-gap: 50%;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--primary);
    padding: 5px;
  }

  .nav-links{
      margin-top: 62.5px;
      display: flex;
      justify-content: space-around;
      width: 100%;
  }

  .nav-links a {
      letter-spacing: 1px;
  }
  .nav-links li{
      list-style: none;
  }

  #uplogo{
  border-radius: 5px;
	margin-top: 30px;
  margin-left: 10px;
  }
  
  #profilepic{
    margin-top: -19px;
	  width: 35px;
	  height: 35px; 
    border: 2px solid var(--light);
    border-radius: 50%;
  }

  .admin_body{
  margin-top: -10px;  
  padding: 11px;
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
   'adminprofile information information information information'
   'mentors_users mentors_users mentors_users mentors_users mentors_users';
   
  }
  .admin_conontainer2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  

.adminprofile{
	grid-area: adminprofile;
	color: black;
	padding: 10px;
	background-color: var(--light);
	border-radius: 5px;
	line-height: 1.5;
  width: 100%;
    

}

#admin_profile{

	border: 2px solid var(--dark);
	border-radius: 10%;
	width: 100%;
	align-content: center;

}
.admin_info {
	margin-top: 10px;
}



.information{
	   grid-area: information;
	   color: black;
	   border-radius: 5px;
	   background-color: var(--light);
	   width: 98%;
	   padding: 30px;
	   border-radius: 5px;
}


.analytics{
	border: 1px solid var(--dark);
	border-radius: 2px;
}
.analytic{
	text-align: center;
}

.mentors_users{
     grid-area: mentors_users;
 	background-color: var(--light);
 	border-radius: 5px;
 	color: black; 
}
.mentors_users a{
  color: #000;
}

 table{
	width: 100%;
}

 .mentors_users img {
	width: 100%;
	height: auto;
	border: 1px solid var(--dark);
	border-radius: 3px;
 }

 .users1 img{
	 width: 100%;
 }

 .info{
	width: 90%;
	border: 1px solid var(--dark);
	border-radius: 2px;
}

.buttons{
	float: right;
}
.buttons2{
	float: right;
}


#users{
    padding: 12px;
	border: 2px solid var(--dark);
	border-radius: 5px;
	background-color: var(--light);
    cursor: pointer;
    color: black;
    
}
#users:hover{
	padding: 14px;
    background-color:  rgb(132, 157, 160);
    color: var(--light);
}

.student{
    padding: 12px;
	border: 2px solid var(--dark);
	border-radius: 5px;
	background-color: var(--primary);
    cursor: pointer;
    color: var(--light);
	
	
}
.student:hover{
	padding: 14px;
    background-color: var(--light);
    color: black;
}

.mentors1{
    padding: 12px;
	border: 2px solid var(--dark);
	border-radius: 5px;
	background-color: var(--primary) ;
    cursor: pointer;
    color: var(--light);
    display: inline;
   
}
.student1{
    padding: 12px;
	border: 2px solid var(--dark);
	border-radius: 5px;
	background-color: var(--light);
    cursor: pointer;
    color: black;
    display: inline;
    
}
.student1:hover{

	padding: 14px;
    background-color: rgb(132, 157, 160);
    color: black;
}






.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: var(--light);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  font-size: 14px;
  line-height: 0.5;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  height: 100px;
  background-color: var(--primary);
  color: white;
}

.modal-body {
    margin-left: 100px;
}

.modal-body p {
	margin-left: 0px;
   
}

#textboxs{
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    width: 200px;
    height: 35px;
}
#textboxs:hover{
     padding: 3px;
     border: 2px solid grey;
}
#buttons {
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: black;
}
#buttons:hover{
    padding: 14px;
    background-color: var(--primary);
    color: white;
   
}

@media(min-height:1000px){
  footer{

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
    
  }
}



@media(max-width: 800px){

  
  .admin_container{
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 1fr;
    }
  
    nav {
      min-height: 70px;
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(2,1fr);
      background-color: var(--primary);
    
    }
    .nav-links{
         margin-top: 50px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
  

	.admin_body{

		display: grid;
		grid-gap: 5px;
		grid-template-areas: 
		 'adminprofile'
		 'information';
     
  }
  .adminprofile{
    width: 100%;
  }
  .information{
    width: 100%;
  }
	

    #uplogo{
      border-radius: 1px;
      margin-top: 40px;
    }
    
    #profilepic{
      width: 35px;
      height: 35px;
	} 

	.adminprofile {
		width: 100%;
	}
	
		
	#admin_profile{
		margin-top: 10px;
		width: 60%;
		margin-left: 40px;
		align-content: center;
		}

	.admin_info{
    margin-left: 35px;
    margin-top: 10px;
    width: 60%;
		line-height: 2;
		text-align: justify;
	}
	.mentors_users img {

			width: 100%;
			height: auto;
			border: 1px solid var(--dark);
			border-radius: 3px;
			
		 }
		
		 .users1 img{
			 width: 100%;
		 }
		
		 .info{
			width: 60%;
			border: 1px solid var(--dark);
			border-radius: 2px;
    }
  }
    
	

	@media(max-width: 450px)  {

	.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: var(--light);
  background-color: rgba(18, 54, 37, 0.4);
  }
  
  .modal-content {
  position: relative;
  background-color: var(--light);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
  }

.modal-header {
  padding: 5px 16px;
  height: 100px;
  background-color: var(--primary);
  color: white;
  line-height: 1;
}

.modal-body {
    margin-left: 10px;
    margin-top: 10px;
    line-height: 1;
}

.modal-body p {
	margin-left: 0px;
   
}
#footer{
  position: absolute;
  bottom: -6050px;
  display: block;
  text-align: center;
  line-height: 1.4;
  width: 100%;
  background-color: var(--primary);
}
}