*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--primary: rgb(12, 151, 70);
	--dark: #ECF0F1;
	--light: white;
  }
  html {
	box-sizing: border-box;
	font-family:  Calibri; 
  }
  
  body {
	  background: var(--dark);
	  line-height: 1.4;
  }
  a {
	  text-decoration: none;
	  color: var(--light);
  }
  h4{
	border-bottom: 2px solid lightgrey;
	}

  img {
	  max-width: 100%;
  }
  
  .mentor_container{
	display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}
 


  #profilepic{
  	  width: 30px;
      height: 30px;
	  border: 2px solid var(--light);
	  border-radius: 50%;
  }



.mentor_all {
	
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	 'profile biography biography biography';
}

#mentorprofile{
	margin-top: 10px;
	border: 3px solid gray;
	border-radius: 10%;
}
.profile .mentor_info{

	line-height: 50px;
}


.profile{
	grid-area: profile;
	color: black;
	padding: 15px;
	background-color: var(--light);
	border-radius: 5px;
}

#edit {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary);
    cursor: pointer;
	color: var(--light);
 }

 #edit:hover {
	padding: 14px;
    background-color: green;
    color: var(--light);
}

.biography{
	  grid-area: biography;
	   color: black;
	   border-radius: 5px;
	   background-color: var(--light);
       padding: 15px;
}
#AccStatus {
  width: 100%;
}

 .mentor_body {
	 grid-area: mentor_body;
 	background-color: var(--light);
 	border-radius: 5px;
 	color: black; 
 	padding: 3px;
 }

 .mentorBody{
	 background-color: white;
	 margin-top: 10px;
	 height: 500px;
 }
 
 .sessions {
	 margin-left: 20px;
	 margin-right: 20px;
}
 table{
	  border: 2px solid var(--dark);
	  width: 100%;
 }
tr td {
	padding: 5px;


}
 .requests {
	margin-left: 20px;
	margin-right: 20px;
}

.accepted{
	padding: 12px;
	border: 2px solid lightgrey;
	border-radius: 5px;
	background-color: var(--primary);
    cursor: pointer;
    color: white;
}
.declined{
	padding: 12px;
	border: 2px solid lightgrey;
	border-radius: 5px;
	background-color: rgba(114, 2, 2, 0.808) ;
    cursor: pointer;
    color: white;
}

 #requestbtn1 {
	padding: 14px;
	border: 2px solid lightgrey;
	border-radius: 5px;
	background-color: var(--light);
    cursor: pointer;
    color: black;
 }
 #requestbtn1:hover {
	padding: 14px;
    background-color: green;
    color: var(--light);
}

#requestbtn2 {
	padding: 14px;
	border: 2px solid lightgrey;
	border-radius: 5px;
	background-color: var(--light);
    cursor: pointer;
    color: black;
   
}
 #requestbtn2:hover {
	padding: 14px;
    background-color: rgba(114, 2, 2, 0.808);
    color: var(--light);
}



@media(max-width: 620px){




    
    #profilepic{
      width: 20px;
      height: 20px;
	}

	.mentor_all{
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		 'profile'
		 'biography'
		 'mentor_body';
	}

		
	.profile{
		border-radius: 3px;
		padding: 10px;
	}
	
	#mentorprofile{
		position: relative;
		width: 30%;
		height: auto;
		border-radius: 10%;
		border: 3px solid gray;
		
	}
	
	.profile .mentor_info{
		float: right;
		line-height: 1.7;
	}

} 

@media(max-width: 470px){

	.mentor_all{
		margin: 3px;
		display: grid;
		grid-gap: 10px;
		grid-template-areas: 
		 'profile'
		 'biography'
		 'mentor_body';
	}

		
	.profile{
		padding: 10px;
	}
	
	#mentorprofile{
		position: relative;
		width: 70%;
		height: auto;
		border: 3px solid gray;
	
	}
	
	.profile .mentor_info{
		margin-right: 110px;
		float: left;
		line-height: 1.5;
	}
	.mentor_body{
		margin: 0;
		padding: 0;
	}

	table{
		border: 2px solid var(--dark);
		width: 100%;
   
	}

   .requests {
		padding: 0px;
  }
  .sessions {
	margin-left: 0px;
	margin-right: 0px;
}
  
   #requestbtn1 {
	  padding: 2px;
	  border: 1px solid lightgrey;
	  border-radius: 3px;
	  background-color: var(--light);
	  cursor: pointer;
	  color: black;
	  font-size: 12px;
   }
   #requestbtn1:hover {
	  padding: 5px;
	  background-color: green;
	  color: var(--light);
  }
  
  #requestbtn2 {
	  padding: 2px;
	  border: 1px solid lightgrey;
	  border-radius: 3px;
	  background-color: var(--light);
	  cursor: pointer;
	  color: black;
	  font-size: 12px;
	 
  }
   #requestbtn2:hover {
	  padding: 4px;
	  background-color: rgba(114, 2, 2, 0.808);
	  color: var(--light);
  }

  .accepted{
	padding: 2px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	background-color: var(--primary);
	cursor: pointer;
	color: white;
	font-size: 12px;
}
.declined{
	padding: 2px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	background-color: rgba(114, 2, 2, 0.808);
	cursor: pointer;
	color: white;
	font-size: 12px;
}
  

	


} 



