*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary: rgb(12, 151, 70);
--dark: #ECF0F1;
--light: white;
}
html {
 box-sizing: border-box;
 font-family:  Calibri; 
}

body {
  background: var(--dark);
  line-height: 1.4;
}

  a{
      color: white;
      text-decoration: none;
  }
  h4{
    color: black;
    border-bottom: 2px solid lightgrey;
    padding: 2px;
}

h5{
  color: black;
}

p{
  color:black;
}

  
img {
  max-width: 100%;
}

footer{
  display: block;
  text-align: center;
  line-height: 1.6;
  background-color: var(--primary);
  bottom: 0;
}


.user_container{

	display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;

}

 
nav {
    
  min-height: 70px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: var(--primary);
  
}
.nav-links{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


  .nav-links a {
      letter-spacing: 3px;
  }
  .nav-links li{
      list-style: none;
  }

  
  .burger div{
    width: 25px;
    height: 2px;
    background-color: var(--light);
    margin: 5px;
  }
  .burger{
    display: none;
  }




#profilepic{
  border: 2px solid white;
  border-radius: 50%;
}
#uplogo{
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 10px;
}

.user{

    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'myprofile information';

}

  
  .myprofile{
      color: black;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      line-height: 2;
  
  }

  #edit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
      cursor: pointer;
    color: var(--light);
   }
   #edit:hover {
    padding: 14px;
      background-color: green;
      color: var(--light);
  }
  
  #userprofile{
      margin-top: 10px;
      margin-left: 20px;
      border: 2px solid lightgrey;
      border-radius: 50%;
      width: 80%;
 
  }
  

  .information{
         color: black;
         border-radius: 5px;
         background-color: white;
         padding: 10px;
  }
  
   .mentors{
       border-radius: 5px;
       background-color: rgba(0, 0, 0, 0.068);
       color: black; 
       padding: 3px;
       
   }

  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 30%;
    display: none; 
  }
  
   
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  
  .show {

      display: block;
    }
  
  
  .btn {
    margin-left: 5px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: var(--primary);
    color: white;
  }
  #myBtnContainer {
    margin-left: 30px;
  }


  @media(max-width: 800px) {

    
 .user_container{

	display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;

   }


    .nav-links {
  
    position: fixed;
    right: 0px;
    height: 20vh;
    top: 7.5vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;
    border-bottom: 1px solid white;
    transform: translateX(130%);
    transition: transform 0.5s ease-in;

  }


.burger{
      margin-top: 40px;
      margin-left: 90px;
      display: block;
      cursor: pointer;
  }

    #userprofile{
      margin-left: 50px;
      width: 50%;
    }
    .user {
      display: grid;
      grid-gap: 10px;
      grid-template-areas: 
      'myprofile'
      'information'
      'mentors'

    }
    
    .mentors {
    
    font-size: 12px; 
    background-color: var(--dark);
    }
  
    
    .btn{
    
      font-size: 8px;
    
     }

  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 100%;
    display: none; 
  }
  
   
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  
  .show {

      display: block;
     
    }
  
  
  .btn {
   
    border: none;
    outline: none;
    
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: var(--primary);
    color: white;
  }
  #myBtnContainer {
    margin-left: 30px;
  }


  }
 

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
