*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary: rgb(12, 151, 70);
  --dark: #ECF0F1;
  --light: white;
}
html {
    box-sizing: border-box;
    font-family:  Calibri; 
}

body {
    background: var(--dark);
    line-height: 1.4;
}
a {
    text-decoration: none;
    color: white;
}
.activities a {
    color: black;
}
.mentors a{
    color: black;  
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

.viewmentors {
    border-radius: 2px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    'activities mentors mentors mentors mentors mentors others';
}


.activities {
    grid-area: activities;
    background-color: var(--light);
    padding: 10px;
    border-radius: 2px;
    padding: 20px;
    line-height: 2;
  
}
.personal_mentors{
    margin-top: 100px;
}
.sessions{
    margin-top: 80px;
}


.mentors {
    grid-area: mentors;
    background-color: var(--light);
 
    border-radius: 2px;
    display: grid;
    grid-template-areas: 
    ' mentor mentor mentor';
}


.mentor {
    display: grid;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  }
  .mentor img{
      height: 300px;
  }
.mentors h1 {
    text-align: center;
    padding: 5px;
}

.others {
    grid-area: others;
    background-color: var(--light);
}

.others1 {
    width: 100%;
    padding: 1px;
    border-bottom: 1px solid var(--dark);
    display: grid;
    grid-gap: 20px;

}

.others img {
    width: 98%;
}
.others1 p {
 padding: 5px;
}


@media(max-width: 600px) {

    .container {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr;
    }
    
     .viewmentors {
        border-radius: 2px;
        display: grid;
        grid-gap: 5px;
        grid-template-areas: 
        'activities mentors  mentors mentors '
        'others mentors mentors mentors';
        
    }
    .activities{
         padding: 10px;
       }
    .mentors{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        'mentor'
    }

    .mentor {
       font-size: 16px;
       padding: 5px;
       }
       .mentor img{
           width: 100%;
           height: 100%; 
       }
    .others {
    
         border-radius: 2px;
         display: grid;
         
    }
    .others1 {
       
        font-size: 16px;
        font-style: italic;
        padding: 5px;

         }
    .others1 img {
        width: 98%;
    }
}


.nav-active {
	transform: translateX(0%);
}








