*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary: rgb(12, 151, 70);
  --dark: #ECF0F1;
  --light: white;
}
html {
    box-sizing: border-box;
    font-family:  Calibri; 
}

body {
    background: var(--dark);
    line-height: 1.4;
}
a {
    text-decoration: none;
    color: white;
}
.activities a {
    color: black;
}
.mentors a{
    color: black;  
}

img {
    max-width: 100%;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

.header1{
    /* position: fixed;
    margin-top: -10px;
    margin-left: -10px; */
    /* border-bottom: 2px solid var(--light);
    max-height: 90px;
    width: 100%;
    background-color: var(--primary);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr); */
    }

/* 
.menu ul {
    display: grid;
    grid-gap: 10px;
    padding: 3px;
    list-style: none;
    grid-template-columns: repeat(4,1fr); 

}

.menu a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 12px;

}

.menu .menu2{
    display: none;
}


ul{
	margin-top: 30px;
	text-decoration: none;

}
ul li{
    line-height: 1; 
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

ul li a:hover{
    opacity: 0.6;
   
} */
/* ul li ul li{
	display: none;
	text-align: left;
}
ul li:hover ul li{
    display: block;
    background-color: white;
}

ul li ul li a {
	color: black;
} */

/* new nav */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    background-color: var(--primary);
    /* border: 1px solid var(--light); */
  }
  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 50%;
  }

  .nav-links a {
      letter-spacing: 3px;
  }
  .nav-links li{
      list-style: none;
  }

  
	.burger div{
		width: 25px;
		height: 2px;
		background-color: var(--light);
		margin: 5px;
	}
	.burger{
		display: none;
	}

     #sign_in {
		 cursor: pointer;
     }
     


#uplogo{
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px; 
}

#profilepic{
	border: 2px solid var(--dark);
    border-radius: 50%;
}

.viewmentors {
    /* margin-top: 10px; */
    border-radius: 2px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'activities mentors mentors mentors mentors mentors others';
}


.activities {
    grid-area: activities;
    /* position: fixed; */
    background-color: var(--light);
    /* width: 250px;
    height: 535px; */
    padding: 10px;
    border-radius: 2px;
    padding: 20px;
    /* margin-top: 90px; */
    line-height: 2;
  
}
.personal_mentors{
    margin-top: 100px;
}
.sessions{
    margin-top: 80px;
}


.mentors {
    grid-area: mentors;
    /* margin-left: 300px;
    margin-top: 90px; */
    background-color: var(--light);
    /* width: 700px; */
    border-radius: 2px;
    display: grid;
    grid-template-areas: 
    ' mentor mentor';
}
/* .mentor #mentor3 {
    background-image: url(/img/mentor\ \(3\).jpg);
    background-size: cover;
    background-position: center;
} */


.mentor {
    display: grid;
    /* width: 250px; */
    /* margin-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  }
.mentors h1 {
    text-align: center;
    padding: 5px;
}

.others {
    grid-area: others;
    /* grid-gap: 10px; */
    background-color: var(--light);
    /* margin-top: 90px; */

}

.others1 {
    width: 100%;
    padding: 1px;
    border-bottom: 1px solid var(--dark);
    display: grid;
    grid-gap: 20px;

}

.others img {
    width: 98%;
}
.others1 p {
 padding: 5px;
}



@media(max-width: 600px) {
    body {
		overflow-x: hidden;
	}

	/* .header1 {
		display: grid;
		grid-template-areas: auto;
	} */

	.nav-links {
		position: fixed;
		right: 0px;
		height: 20vh;
		top: 15.5vh;
        /* border: 1px solid white; */
        background-color: var(--primary);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
        height: 20%;
		transform: translateX(130%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		/* opacity: 0; */
	}

	.burger{
		display: block;
		cursor: pointer;
	}



    /* .header1{

        display: grid;
        font-size: 8px;
        grid-gap: 10px;
        width: 570px;
        height: 80px;

    }
    .menu {
        display: grid;
        grid-gap: 10px;
        
    }
    ul {
        margin-top: 20px;
      
       
    }
    .menu .menu1{
        display: none;
    }
    .menu .menu2{
        display: inline;
        color: black;
    }

    .menu #profilepic {
      width: 10px;
      height: 10px;
    }
     */

    .viewmentors {
        /* margin-top: 10px; */
        border-radius: 2px;
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'activities mentors mentors mentors '
        'others mentors mentors mentors';
        
    }
    
    .activities{
        /* position: absolute; */
        padding: 10px;
        /* width: 200px; */
        /* max-height: 500px; */
       
    }
    .mentors{
        /* margin-left: 220px; */
        /* width: 330px; */
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        'mentor'
        /* grid-template-columns: 1fr; */
        

    }

    .mentor {
       /* width: 290px; */
       font-size: 16px;
       padding: 5px;
       /* margin-left: 15px; */
       

    }
    .others {
         /* margin-left: -568px; */
         /* margin-top: -750px; */
         border-radius: 2px;
         display: grid;
         /* grid-gap: 10px; */
         /* width: 220px; */
       
    }
    .others1 {
        /* width: 200px; */
        font-size: 16px;
        font-style: italic;
        padding: 5px;

         }
    .others1 img {
        width: 98%;
    }
}


.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}






